body{
    font-family: 'Poppins', sans-serif;
}
.custom-color{
    color: #0c859b;
}
.custom-color2{
    color: #363636;
}
.custom-bg{
    background-color: #dfdfdf;
}
.custom-bg2{
    background-color: #363636;
}
.custom-bg3{
    background-color: #0c859b;
}